.page-list-cont {
  height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .mat-arr {
          position: relative;
          top: 7px;
        }
    .page-list-blocks {
      display: flex;
      justify-content: space-around;
    }
    .page-tree-wrap {
        height: 300px;
    width: 300px;
    background-color: #249a7c;
    border-radius: 5px;
    padding: 15px;
    padding-right:0;
    padding-bottom: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
      > a {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        color: #fff;
        width: 100%;
        padding: 10px;
        background-color: rgba(204, 204, 204, 0.4);

      }
      .icon-left {
            position: relative;
            top: 6px;
      }
      .cat-block {
        display: flex;
        flex-direction: column;
        padding-left: 45px;
      }
    }

}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
