.home-wrap {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    .text-home-wrap {
        max-width: 40%;
        .h1 {
            font-size: 48px;
        }
        p {
            font-size: 14px;
            opacity: 0.6;
        }
    }
    button {
        border-radius: 40px;
        outline: none;
    }
}
